<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		title Infinity War Poll :: Results

		link(rel="stylesheet", href="/css/master.css")
	body
		.container.center
			div
				h3 18:30 - #[span.vote #{first}] votes 
				h3 21:30 - #[span.vote #{second}] votes

		a(href="/").back Back
		